@import url('https://fonts.googleapis.com/css?family=Aleo|Libre+Baskerville|Metamorphous&display=swap');

/*** GENERAL ***/
/* Hiding Number Spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

#about,
#index-main {
  margin-left: 1em;
  margin-right: 1em;
}


/*** BODY ***/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0; /* very light gray */
  background-image: url(../img/symphony.png); /* Background pattern from Toptal Subtle Patterns */
}

main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  padding: 1em 1em 0;
}


/*** PAGE: MOD TRACKER ***/
  #banner {
  background-image: url(../img/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 20%;
  padding-bottom: 20%;
  margin-bottom: 1rem;
  background-color: #c8c2ae;
}

#banner-title {
  text-align: center;
  font-size: 5vw;
  margin: 0;
  color: #fffbc4;
  text-shadow: 3px 3px 0 #503033;
}

form {
  margin-bottom: 1em;
}

#form-wrapper {
  max-width: 200px;
}

input[type='number'] {
  width: 3em;
  text-align: center;
  border-style: inset;
}

.flex-contain {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: stretch;
  min-height: 44px;
}

.flex-item-a,
.flex-item-base,
.flex-item-new {
  align-items: center;
  min-height: 44px;
  min-width: 175px;
  padding-right: 1em;
  text-align: right;
}

.output {
  display: inline-block;
  min-height: 30px;
  min-width: 3em;
  border-width: thin;
  border-style: ridge;
  text-align: center;
}

.buffs,
.conditions {
  display: flex;
  flex-direction: column;
}

.buffs label,
.conditions label {
  margin-right: 5px;
}

#reset {
  margin: 1em 0;
}


/*** PAGE: ABOUT ***/
#about {
  margin-top: 1em;
}

.profile {
  border-radius: 50%;
}

/* To Flip Profile Image*/
#f1_container {
  position: relative;
  margin: 10px auto;
  width: 250px;
  height: 250px;
  z-index: 1;
}
#f1_container {
  perspective: 1000px;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: inline-block;
  transform: rotateY(180deg);
}

.bio {
  margin-top: 2em;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info a {
  display: inline-block;
  background-repeat: no-repeat;
  min-height: 24px;
  background-size: 24px 24px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.phone a {
  background-image: url(../img/phone.png);
}

.mail a {
  background-image: url(../img/mail.png);
}


/*** FONTS ***/
/* Body Font Stack */
body {
  font-family: 'Libre Baskerville', 'Aleo', serif;
}

/* Header Font Stack */
h1, h2, h3 {
  font-family: 'Metamorphous', serif;
}

h4 {
  margin-top: 0.75em;
}

/*** COLORS ***/
nav,
footer,
.output {
  background-color: #36454f; /* charcoal gray */
  color: #f0ead6; /* eggshell */
}


/*** MEDIA QUERIES ***/
@media screen and (min-width: 380px) {

  #about,
  #index-main {
    margin-left: 3em;
    margin-right: 3em;
  }

  .footer {
    padding-left: 3em;
    padding-right: 3em;
  }

}

@media screen and (min-width: 590px) {

  .flex-contain,
  .buffs,
  .conditions {
    flex-direction: row;
  }

  #form-wrapper {
    max-width: 500px;
  }
}